/* Les variables de base */
:root {
	--font-main: 'Montserrat', sans-serif;
	--font-weight-bold: 600;
	--font-weight-extra-bold: 700;
	--font-weight-black: 800;

	/* Couleurs */
	--color-blue: #1327b7;
	--color-blue-1: #1b41e9;
	--color-blue-2: #3d4fd1;
	--color-blue-3: #697af3;

	--color-white: #fafafa;
	--color-white-1: #eeedf4;
	--color-white-2: #dedeeb;

	--color-gray: #d4d4d4;
	--color-gray-1: #adadad;

	--color-black: #131313;
	--color-black-1: #1c1b1f;
	--color-black-2: #434141;

	--color-red: #b5403c;
	--color-red-1: #d62038;
	--color-red-2: #991022;

	--color-green: #11b86a;
	--color-green-1: #23a166;
	--color-green-2: #3ad98f;

	--color-orange: #f88a0c;
	--color-orange-1: #d68120;
	--color-orange-2: #e8a04d;
	--color-orange-3: #e5ae6f;

	--border-gray: rgba(255, 255, 255, 0.171);

	/* Tailles de texte */
	--text-size-small: 0.8rem;
	--text-size-medium: 1rem;
	--text-size-large: 1.5rem;
	--text-size-extra: 2.5rem;

	/* Bordures */
	--border-radius-small: 0.5rem;
	--border-radius-medium: 1rem;
	--border-radius-big: 2rem;
	--border-radius-circle: 100%;

	/* Les marges et espacements */
	--margin-small: 0.5rem;
	--margin-left-right-small: 0.5rem 0;
	--margin-medium: 1rem;
	--margin-left-right-medium: 1rem 0;
	--margin-large: 2rem;
	--margin-left-right-large: 2rem 0;
	--margin-extra: 4rem;
	--margin-left-right-extra: 4rem 0;

	--padding-small: 0.5rem;
	--padding-left-right-small: 0.5rem 0;
	--padding-medium: 1rem;
	--padding-left-right-medium: 1rem 0;
	--padding-large: 2rem;
	--padding-left-right-large: 2rem 0;
	--padding-extra: 4rem;
	--padding-left-right-extra: 4rem 0;

	--gap-small: 0.5rem;
	--gap-medium: 1rem;
	--gap-large: 2rem;
	--gap-extra: 4rem;
}

.zf {
	height: 100vh;
	width: 100vw;
	padding: var(--padding-large);
	gap: var(--gap-extra);
	background-color: var(--color-red-1);
}

#sectionText,
#sectionForm {
	display: flex;
	flex-direction: column;
	gap: var(--gap-large);
	padding: var(--padding-extra);
	padding-top: 10rem;
	background-color: var(--color-white);
	border-radius: var(--border-radius-medium);
}

#login #sectionText {
	align-items: center;
	gap: var(--gap-extra);
}

#login #sectionText h1 {
	color: var(--color-red-1);
	padding-bottom: var(--padding-small);
}

#login #sectionForm form {
	display: flex;
	font: 1em sans-serif;
}

#login img {
	width: 10rem;
}

#login #sectionForm h2 {
	align-self: flex-start;
}

#login #sectionForm form,
#login #sectionForm form div {
	display: flex;
	flex-direction: column;
	gap: var(--gap-medium);
}

#login #sectionForm form input {
	padding: var(--padding-medium);
	border-radius: var(--border-radius-small);
	border: var(--color-black-2) 1px solid;
	background-color: var(--color-white-1);
	color: var(--color-black-2);
	font-weight: var(--font-weight-bold);
}

#login #sectionForm form .redColor {
	color: var(--color-red-1);
}

#login #sectionForm form .center {
	display: flex;
	flex-direction: row;
	align-items: center;
}


#login #sectionForm form .spaceBeetween {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

#login #sectionForm form input[type='checkbox'] {
	width: 24px;
	height: 24px;
	border: 1px solid var(--color-black-2);
	border-radius: 5px;
	cursor: pointer;
}

#login #sectionForm form .textAlign {
	text-align: center;
}
/* index */
#index>header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 32px;
	background-color: var(--color-white-1);
}
#index h1,.logo>i{
	font-size: 25px;
}
.logo{
	display: flex;
	align-items: center;
	gap: 8px;
	color: var(--color-red);
	
}
.recherche{
	width: 736px;
	display: flex;
	height: 48px;
	align-items: center;
	background-color: var(--color-white-2);
	color: var(--color-black);
	border-radius: 24px;
	padding: 16px;
	gap: 4px;
}
.recherche>input::placeholder{
	background-color: var(--color-white-2);
	color: black;
}
#index>header>div{
	display: flex;
	gap:16px
}
#index>header>div>a{
	background-color: var(--color-red);
	padding: 16px 36px;
	color: var(--color-white);
	border-radius: 8px;
	display: flex;
	gap: 4px;
	align-items: center;
}
#index>header>div>.connection{
	background-color: var(--color-white-1);
	color: var(--color-red);
	border:2px solid  var(--color-red);
}
#index>main{
	margin: 48px;
	display: flex;
	justify-content: center;
}
#index section{
	background-color: var(--color-white-1);
	border-radius: 16px;
	padding: 32px;
}
.filtre{
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	align-items: center;
}
.filtreboutton{
	display: flex;
	gap: 16px;
	
}
.filtreboutton>button{
	color: var(--color-black);
	border: 2px solid var(--color-black);
	padding: 10px 16px;
	border-radius:8px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}
#index .listarticle{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 16px 0;
	gap: 16px;
}
.listarticle>article{
	display: flex;
	flex-direction: column;
	background-color: var(--color-white-2);
	padding: 16px;
	border-radius: 16px;
}
.listarticle>article{
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.listarticle>article>header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.listarticle>article>header>div{
	display: flex;
	gap: 16px;
}
.listarticle>article>header>div>img{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	object-fit: cover;

}
.listarticle>article>header>i{
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.listarticle>article>header>div>div>h2{
	font-size: 22px;
}
.listarticle>article>img{
	width: 100%;
	height: 200px;
	border-radius: 16px;
	object-fit: cover;
}
.listarticle>article>footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;
}


#login #sectionForm form button[type='submit'],
#loginGoogle,
#loginMeta {
	padding: var(--padding-medium);
	border-radius: var(--border-radius-small);
	text-align: center;
}

#loginGoogle img,
#loginMeta img {
	width: 24px;
}

#login #sectionForm form button[type='submit'] {
	background-color: var(--color-red-1);
	color: var(--color-white);
}

#loginGoogle,
#loginMeta {
	flex: 1;
	height: 1.5rem;
	border: var(--color-black) 1px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--gap-small);
}